@use "./vars.scss" as *;

img{
  height: 100%;
  object-fit: cover;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: $primary-text-color;
  font-weight: 600;
}

.mb-container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}